extends ../layout

block content
    section.banner-case(style="background-image: url('/img/tokenize-banner.jpg');")
        .container
            .banner-content-wrapper
                .banner-content
                    .banner-text
                        h1 Tokenize
                        p Tokenize - More than just a Digital Currency Exchange, Tokenize Xchange aims to be the first exchange to let you trade blockchain ideas, knowledge and values.
                    .btn-banner
                        a.contact-btn(href='#') Contact Us

    section.about-case
        .container
            .header-section-wrapper
                h3 About project
                div.background-section-text About project
            .row
                .col-lg-6
                    .img-wrapper
                        img(src="/img/about-tknz-img.png")
                .col-lg-6
                    p Tokenize - More than just a Digital Currency Exchange, Tokenize Xchange aims to be the first exchange to let you trade blockchain ideas, knowledge and values.
                    p Tokenize - More than just a Digital Currency Exchange, Tokenize Xchange aims to be the first exchange to let you trade blockchain ideas, knowledge and values.
                    p Tokenize - More than just a Digital Currency Exchange, Tokenize Xchange aims to be the first exchange to let you trade blockchain ideas, knowledge and values.

    section.tech-info
        .container
            .header-section-wrapper
                h3 Technical info
                div.background-section-text Technical info
            .row
                .col-lg-6
                    .tech-info-wrapper
                        .row-wrap
                            .icon-wrap
                                img(src='/img/team.svg')
                            .reviews Command: 5 developers
                        .row-wrap
                            .icon-wrap
                                img(src='/img/duration.svg')
                            .reviews Duration: 5 month
                        .row-wrap
                            .icon-wrap
                                img(src='/img/development-technolog.svg')
                            .reviews Technology Stack: Angular, MySQL, NodeJS, HTML5, CSS3
                .col-lg-6
                    .img-wrapper
                        img(src="/img/tknz-img2.png")
    section.work-process
        .container
            .header-section-wrapper
                h3 Work Process
                div.background-section-text Work Process
            .row
                .col-lg-3
                    .item
                        .icon-wrap
                            img(src='/img/analysis.svg')
                        .name Analysis
                        .reviews Process analysis helps you understand a work process or some part of a process.
                .col-lg-3
                    .item
                        .icon-wrap
                            img(src='/img/brainstorm.svg')
                        .name Suggestions
                        .reviews Process analysis helps you understand a work process or some part of a process.
                .col-lg-3
                    .item
                        .icon-wrap
                            img(src='/img/seo.svg')
                        .name Development
                        .reviews Process analysis helps you understand a work process or some part of a process.
                .col-lg-3
                    .item
                        .icon-wrap
                            img(src='/img/server.svg')
                        .name Deployment
                        .reviews Process analysis helps you understand a work process or some part of a process.

    section#contacts.contacts
        .container
            .header-section-wrapper
                h3 #{contacts.title}
                .background-section-text #{contacts.title}
            .row
                .contact-form-wrapper
                    contacts-form.contact_us(
                    btnText=contacts.content.button.text
                    schema
                    showphone="false"
                    )
            .row
                .contact-details
                    .email-block
                        ul
                            li.email
                                a(href='mailto:' + contacts.content.contacts.email) #{contacts.content.contacts.email}
                        .social
                            ul
                                each el in contacts.content.contacts.social
                                    li
                                        a(class=el.linkClass, href=el.link)
                                            i(class='fa ' + el.iconClass)
                    .tel-block
                        ul
                            li.tel
                                p #{contacts.content.contacts.skype}
                    .address-block
                        ul
                            li #{contacts.content.contacts.address}