extends ../layout

block content

    section#courses.courses
        .container
            .header-section-wrapper
                h3 #{coursesThumbs.title}
                .background-section-text #{coursesThumbs.title}
            .row
                each thumb in coursesThumbs.content
                    .col-lg-4
                        .item-wrapper
                            .start-course #{thumb.﻿start}
                            div(class='course-type ' + thumb.class) #{thumb.type}
                            .img-wrapper
                                img(src='/img/' + thumb.logo.src, alt=thumb.﻿alt)
                            h3.name #{thumb.title}
                            .bottom-block
                                .duration #{thumb.duration}
                                .prices #{thumb.price}
                            a.link(href=thumb.href)
                                i.fa.fa-arrow-right
    section(id="mentors" class="our-teaches")
        .container
            .header-section-wrapper
                h3 #{mentors.title}
                .background-section-text #{mentors.title}
            .slider-teachers
                each mentor in mentors.content
                    .item-wrapper
                        .photo-wrapper
                            img(src=/img/ + mentor.photo, alt=mentor.lastName)
                        .name #{mentor.firstName} #{mentor.lastName}
                        .position #{mentor.position}
                        .about
                            .p #{mentor.about}

    section#faq.faq
        .container
            .row
                .col-lg-12
                    .about-courses
                        h5 О наших курсах
                        p #{about.content.text}
            .row
                .advantages-wrapper
                    .item
                        .ico-wrap.blue
                            img(src='/img/clock-icon.svg')
                        p Convenient schedule
                    .item
                        .ico-wrap.yellow
                            img(src='/img/group-of-men.svg')
                        p Compact groups
                    .item
                        .ico-wrap.red
                            img(src='/img/presentation.svg')
                        p Practising Teachers
                    .item
                        .ico-wrap.violet
                            img(src='/img/thought.svg')
                        p Only actual knowledge
                    .item
                        .ico-wrap.green
                            img(src='/img/speaker.svg')
                        p Individual approach
            .row
                .col-lg-12
                    .faq-wrapper
                        h5 Чаще всего спрашивают
                        div.accordion-wrapper(data-accordion-group)
                            div.accordion(data-accordion)
                                div.header(data-control)
                                    div.ico-wrap
                                        i(class="fa fa-question")
                                    p Хотите зададать ваш тупой вопрос?
                                    i(class="fa fa-chevron-down")
                                div.content(data-content)
                                    div
                                        p Получите наш тупой ответ! Получите наш тупой ответ! Получите наш тупой ответ! Получите наш тупой ответ!

                            div.accordion(data-accordion)
                                div.header(data-control)
                                    div.ico-wrap
                                        i(class="fa fa-question")
                                    p Нам вернут деньги?
                                    i(class="fa fa-chevron-down")
                                div.content(data-content)
                                    div
                                        p Нет даже не мечтай!
                            div.accordion(data-accordion)
                                div.header(data-control)
                                    div.ico-wrap
                                        i(class="fa fa-question")
                                    p Смогут ли меня начуить чему-то ведь все вокруг говорят что я тупой?
                                    i(class="fa fa-chevron-down")
                                div.content(data-content)
                                    div
                                        p Конечно нет ты тупым и сдохнешь!

                            div.accordion(data-accordion)
                                div.header(data-control)
                                    div.ico-wrap
                                        i(class="fa fa-question")
                                    p Моя бабушка записала меня на эти курсы чтобы я перестал бухать под падиком, можно я не буду ходтиь?
                                    i(class="fa fa-chevron-down")
                                div.content(data-content)
                                    div
                                        p Конечно, можешь не приходить главное возьми бабки у бабули и принеси нам! Будь тупым это тебе идет!



    section#contacts.contacts
        .container
            .header-section-wrapper
                h3 #{contactsCourses.title}
                .background-section-text #{contactsCourses.title}
            .row
                .contact-form-wrapper
                    .contact-form-wrapper
                        contacts-form.apply_course(
                            btnText=contactsCourses.content.button.text 
                            courses=courses
                            schema
                            showphone="true"
                            lang=lang
                        )
            .row
                .contact-details
                    .email-block
                        ul
                            li.email
                                a(href='mailto' + contactsCourses.content.contacts.email) #{contactsCourses.content.contacts.email}
                        .social
                            ul
                                each soc in contactsCourses.content.contacts.social
                                    li
                                        a(class=soc.linkClass, href=soc.link)
                                            i.fa(class=soc.iconClass)
                    .tel-block
                        ul
                            li.tel
                                p Skype:
                                p #{contactsCourses.content.contacts.skype}
                    .address-block
                        ul
                            li #{contactsCourses.content.contacts.address}
