extends ../layout

block content
    section#banner.banner
        .container
            .banner-content-wrapper
                .banner-content
                    h1 #{coursesBanner.content.text.title}
                    p #{coursesBanner.content.text.subtitle}

    section#aboutSchool.about-school
        .container
            .header-section-wrapper
                h3 #{about.title}
                .background-section-text #{about.title}
            .row
                .col-lg-4
                    img(src='/img/' + about.src)
                .col-lg-8
                    p #{about.content.text}
    section(id="ourTeaches" class="our-teaches")
        .container
            .header-section-wrapper
                h3 #{mentors.title}
                .background-section-text #{mentors.title}
            .slider-teachers
                each mentor in mentors.content
                    .item-wrapper
                        .photo-wrapper
                            img(src=/img/ + mentor.photo)
                        .name #{mentor.firstName} #{mentor.lastName}
                        .position #{mentor.position}
                        .about
                            .p
    section.advantages
        .container
            .header-section-wrapper
                h3 #{advantagesCourses.title}
                .background-section-text #{advantagesCourses.title}
            .items-wrapper.row
                each item in advantagesCourses.content.item
                    .col-lg-2.col-md-6
                        .item
                            .ico-wrap
                                img(src='/img/' + item.icon)
                            p #{item.text}
    section#contacts.contacts
        .container
            .header-section-wrapper
                h3 #{contactsCourses.title}
                .background-section-text #{contactsCourses.title}
            .row
                .contact-form-wrapper
                    .contact-form-wrapper
                        contacts-form.contact_us(
                        btnText=contactsCourses.content.button.text
                        courses=courses
                        schema
                        showphone="true"
                        )
            .row
                .contact-details
                    .email-block
                        ul
                            li.email
                                a(href='mailto' + contactsCourses.content.contacts.email) #{contactsCourses.content.contacts.email}
                        .social
                            ul
                                each soc in contactsCourses.content.contacts.social
                                    li
                                        a(class=soc.linkClass, href=soc.link)
                                            i.fa(class=soc.iconClass)
                    .tel-block
                        ul
                            li.tel
                                p Skype:
                                p #{contactsCourses.content.contacts.skype}
                    .address-block
                        ul
                            li #{contactsCourses.content.contacts.address}
