extends ../layout

block content
    section.banner#banner
        .container
            .banner-content-wrapper
                .banner-content
                        h1 #{mainBanner.content.text.title}
                        p #{mainBanner.content.text.subtitle}
                        a.contact-btn(href=mainBanner.content.button.link) #{mainBanner.content.button.text}
    section.services#services
        .container
            .header-section-wrapper
                h3 #{services.title}
                .background-section-text #{services.title}
            .row
                each i in services.content
                    .col-md-4
                        .item-content-block
                            .icon
                                img(src=i.src)
                            h5 #{i.title}
                            p #{i.text}

    section#technologies.technologies
        .container
            .header-section-wrapper
                h3 #{technologies.title}
                .background-section-text #{technologies.title}
            .technologies-wrapper
                .row
                    each i in technologies.content
                        .col-6.col-sm-4.col-md-2
                            .img-wrapper
                                img(src='/img/' + i.src)

    section.advantages
        .container
            .header-section-wrapper
                h3 #{advantagesCompany.title}
                .background-section-text #{advantagesCompany.title}
            .row
                each i in advantagesCompany.content.item
                    .col-md-4
                        .item-content-block
                            .icon
                                img(
                                    src='/img/' + i.src
                                    alt=i.alt
                                    )
                            h5 #{i.title}
                            p #{i.text}

    section#about.why-we-are
        .container
            .header-section-wrapper
                h3 #{aboutCompany.title}
                .background-section-text #{aboutCompany.title}
            .why-we-are-wrapper
                .text-block
                    h5 #{aboutCompany.content.text.title}
                    p #{aboutCompany.content.text.description}
                .img-block
                    img(src='/img/' + aboutCompany.content.src)
    section#team
        .container
            .header-section-wrapper
                h3 #{team.title}
                .background-section-text #{team.title}
            .row
                each member in team.content
                    .col-12.col-lg-3
                        .item-wrapper
                            .photo-wrapper
                                img(src='/img/' + member.photo)
                            .name #{member.firstName.en} #{member.lastName.en}
                            .position #{member.position}
                            .soc-link
                                a(href=member.linkenIn)
                                    i.fa.fa-linkedin-square
    section#opensource.opensource
        .container
            .header-section-wrapper
                h3 #{opensource.title}
                .background-section-text #{opensource.bgtext}
            each package in opensource.content
                .row
                    .col-md-8
                        .img-block
                            img(src='/img/' + package.src)
                    .col-md-4
                        .text-block
                            p #{package.description}
                            .contact-btn-wrapper
                                a.contact-btn(href=package.link) View on GitHub
                                    i.fa.fa-github
    section#clients
        .container
            .header-section-wrapper
                h3 Our clients
                .background-section-text Our clients
            .row
                .col-lg-6
                    .client-wrapper(style="background-image: url('/img/tokeniz-client-bg.png')")
                        a(href="#")
                        .item-content
                            .duration Duration: 3 month
                            .name Tokenize
                            .shortDescription Tokenize - More than just a Digital Currency Exchange, Tokenize Xchange aims to be the first exchange to let you trade blockchain ideas, knowledge and values.
                            ul
                                li
                                    img(src='/img/angular-logo.png')
                                li
                                    img(src='/img/mongodb.png')
                                li
                                    img(src='/img/img17.png')
                                li
                                    img(src='/img/nodejs.png')
                                li
                                    img(src='/img/img4.png')
    section#contacts.contacts
        .container
            .header-section-wrapper
                h3 #{contacts.title}
                .background-section-text #{contacts.title}
            .row
                .contact-form-wrapper
                    contacts-form.contact_us(
                        btnText=contacts.content.button.text
                        schema
                        showphone="false"
                    )
            .row
                .contact-details
                    .email-block
                        ul
                            li.email
                                a(href='mailto:' + contacts.content.contacts.email) #{contacts.content.contacts.email}
                        .social
                            ul
                                each el in contacts.content.contacts.social
                                    li
                                        a(class=el.linkClass, href=el.link)
                                            i(class='fa ' + el.iconClass)
                    .tel-block
                        ul
                            li.tel
                                p #{contacts.content.contacts.skype}
                    .address-block
                        ul
                            li #{contacts.content.contacts.address}
