extends ../layout


block content
    section.banner#banner
        .container
            .banner-content-wrapper
                .banner-content
                        h1 #{mainBanner.content.text.title}
                        p #{mainBanner.content.text.subtitle}
                        a.contact-btn(href='#contacts') #{mainBanner.content.text}
    section.services#services
        .container
            .header-section-wrapper
                h3 #{services.title}
                .background-section-text #{services.title}
            .row
                each i in services.content
                    .col-md-4
                        .item-content-block
                            .icon
                                img(src=i.src)
                            h5 #{i.title}
                            p #{i.text}

    section#technologies.technologies
        .container
            .header-section-wrapper
                h3 #{technologies.title}
                .background-section-text #{technologies.title}
            .technologies-wrapper
                .row
                    each i in technologies.content
                        .col-6.col-sm-4.col-md-2
                            .img-wrapper
                                img(src='/img/' + i.src)

    section.advantages
        .container
            .header-section-wrapper
                h3 #{advantagesCompany.title}
                .background-section-text #{advantagesCompany.title}
            .row
                each i in advantagesCompany.content.item
                    .col-md-4
                        .item-content-block
                            .icon
                                img(
                                    src='/img/' + i.src
                                    alt=i.alt
                                    )
                            h5 #{i.title}
                            p #{i.text}

    section#about.why-we-are
        .container
            .header-section-wrapper
                h3 #{aboutCompany.title}
                .background-section-text #{aboutCompany.title}
            .why-we-are-wrapper
                .text-block
                    h5 #{aboutCompany.content.text.title}
                    p #{aboutCompany.content.text.description}
                .img-block
                    img(src='/img/' + aboutCompany.content.src)

    section#contacts.contacts
        .container
            .header-section-wrapper
                h3 #{contacts.title}
                .background-section-text #{contacts.title}
            .row
                .contact-form-wrapper
                    contacts-form.contact_us(
                    btnText=contacts.content.button.text
                    )
            .row
                .contact-details
                    .email-block
                        ul
                            li.email
                                a(href='mailto:' + contacts.content.contacts.email) #{contacts.content.contacts.email}
                        .social
                            ul
                                each el in contacts.content.contacts.social
                                    li
                                        a(class=el.linkClass, href=el.link)
                                            i(class='fa ' + el.iconClass)
                    .tel-block
                        ul
                            li.tel
                                p #{contacts.content.contacts.skype}
                    .address-block
                        ul
                            li #{contacts.content.contacts.address}

                //    section#team
                //        .container
                //            each item in team
                //                .header-section-wrapper
                //                    h3 #{item.sectionTitle}
                //                    .background-section-text #{item.sectionTitle}
                //                .row
                //                    each i in item.itemTeam
                //                        .col-12.col-lg-3
                //                            .item-wrapper
                //                                .photo-wrapper
                //                                    img(src='/img/' + i.photo)
                //                                .name #{i.firstName} #{i.lastName}
                //                                .position #{i.position}
                //                                .soc-link
                //                                    a(href=i.linkenIn)
                //                                        i.fa.fa-linkedin-square
