extends ../layout

block content
    section.banner-second(style=`background-image: url("/img/${mobileDevelopment.mobileBanner.background}")`)
        .container
            .row
                .banner-second__web
                    h1 #{mobileDevelopment.mobileBanner.title}
                    p #{mobileDevelopment.mobileBanner.subText}
                    a(href="#popup-form" class="btn contact_us_btn") #{mobileDevelopment.mobileBanner.button.text}
    section.about-services
        .container
            .row
                .short-header #{mobileDevelopment.mobileServices.subTitle}
                h3 #{mobileDevelopment.mobileServices.title}
                .sub-header #{mobileDevelopment.mobileServices.subText}
            .row
                .col-md-6
                    .about-services__text.animate.wow.fadeInLeft.fast
                        p #{mobileDevelopment.mobileServices.contentServices.descriptionTextIos}
                        p #{mobileDevelopment.mobileServices.contentServices.descriptionTextAndroid}
                .col-md-6
                    .about-services__img.animate.wow.fadeInRight.fast
                        img(src="/img/" + mobileDevelopment.mobileServices.contentServices.img, alt="")
    section.container-solution
        .container
            .row
                .short-header #{mobileDevelopment.mobileSolution.subTitle}
                h3 #{mobileDevelopment.mobileSolution.title}                                   
                .sub-header #{mobileDevelopment.mobileSolution.subText}
            .row.animate.wow.fadeInRight.fast
                .col-md-4
                    .solution
                        .solution__icon
                            span.icon-implementation
                        .solution__header #{mobileDevelopment.mobileSolution.contentSolution.frontEnd.title}
                        .solution__text #{mobileDevelopment.mobileSolution.contentSolution.frontEnd.subTitle}
                .col-md-4
                    .solution
                        .solution__icon
                            span.icon-implementation
                        .solution__header #{mobileDevelopment.mobileSolution.contentSolution.hightLoadOptimization.title}            
                        .solution__text #{mobileDevelopment.mobileSolution.contentSolution.hightLoadOptimization.subTitle}
                .col-md-4
                    .solution
                        .solution__icon
                            span.icon-implementation
                        .solution__header #{mobileDevelopment.mobileSolution.contentSolution.restful.title}
                        .solution__text #{mobileDevelopment.mobileSolution.contentSolution.restful.subTitle}
    section.technologies
        .container
            .row
                .short-header #{mobileDevelopment.stack.subTitle}
                h3 #{mobileDevelopment.stack.title}
                .sub-header #{mobileDevelopment.stack.subText}
            .row.animate.wow.fadeInUp.fast
                each i in mobileDevelopment.stack.technologies
                    .col-3.col-md-4.col-lg-2
                        .icon
                            img(src='/img/' + i.src, alt=i.alt)
                            span #{i.alt}                                                                                                  
    section.completed-projects
        .container
            .row
                .short-header #{mobileDevelopment.completeProjects.subTitle}
                h3 #{mobileDevelopment.completeProjects.title}
                .sub-header #{mobileDevelopment.completeProjects.subText}
            .row.animate.wow.fadeInLeft.fast.mobile-projects
                each i in mobileDevelopment.completeProjects.projects    
                    .project.col-lg-4
                        .item
                            .item__image-wrapper(style=`background-image: url("/img/${i.background}")`)
                                h4 #{i.title}
                                .item__review #{i.shortdescription}
                            .item__header #{i.header}
    section.contact-us                            
        .container
            .row.align-content-center
                .col-lg-12
                    .contact-us__wrapper                        
                        .contact-us__text Want to learn more about what Jsdaddy can do for you?
                        a(hreа="#" class="contact-us__link") Start project

    form#popup-form.mfp-hide.white-popup-block.popup-form
        h3 Contact Us
        .popup-form__input-wrapper
            label(for="name") Name
            input#name(name="name", type="text")
            p.popup-form__input-wrapper_invalid-message#name_error This field can not be empty
        .popup-form__input-wrapper
            label(for="email") Email
            input#email(name="email", type="email")
            p.popup-form__input-wrapper_invalid-message#email_error This field must contain valid email
        .popup-form__input-wrapper
            label(for="Textarea") Message
            textarea#message
            p.popup-form__input-wrapper_invalid-message#textarea_error This field can not be empty
        .popup-form__btn-wrapper
            button.btn#form__submit Contact Us
        .success-message
            .success-message__icon
                i.fa.fa-check(aria-hidden="true")
            span Success!                       
