extends ../layout

block content
    section.banner-second(style=`background-image: url("/img/${webDevelopment.webBanner.background}")`)
        .container
            .row
                .banner-second__web
                    h1 #{webDevelopment.webBanner.title}
                    p #{webDevelopment.webBanner.subText}
                    a(href="#popup-form" class="btn contact_us_btn") #{webDevelopment.webBanner.button.text}
    section.about-services
        .container
            .row
                .short-header #{webDevelopment.webServices.subTitle}
                h3 #{webDevelopment.webServices.title}
                .sub-header #{webDevelopment.webServices.subText}
            .row
                .col-md-6
                    .about-services__text.animate.wow.fadeInLeft.fast
                        p #{webDevelopment.webServices.contentServices.descriptionText}
                        p #{webDevelopment.webServices.contentServices.descriptionText}
                        p #{webDevelopment.webServices.contentServices.descriptionText}
                .col-md-6
                    .about-services__img.animate.wow.fadeInRight.fast
                        img(src="/img/" + webDevelopment.webServices.contentServices.img, alt="")
    section.container-solution
        .container
            .row
                .short-header #{webDevelopment.webSolution.subTitle}
                h3 #{webDevelopment.webSolution.title}                                   
                .sub-header #{webDevelopment.webSolution.subText}
            .row.animate.wow.fadeInRight.fast
                .col-md-4
                    .solution
                        .solution__icon
                            span.icon-implementation
                        .solution__header #{webDevelopment.webSolution.contentSolution.frontEnd.title}
                        .solution__text #{webDevelopment.webSolution.contentSolution.frontEnd.subTitle}
                .col-md-4
                    .solution
                        .solution__icon
                            span.icon-implementation
                        .solution__header #{webDevelopment.webSolution.contentSolution.hightLoadOptimization.title}            
                        .solution__text #{webDevelopment.webSolution.contentSolution.hightLoadOptimization.subTitle}
                .col-md-4
                    .solution
                        .solution__icon
                            span.icon-implementation
                        .solution__header #{webDevelopment.webSolution.contentSolution.restful.title}
                        .solution__text #{webDevelopment.webSolution.contentSolution.restful.subTitle}
    section.technologies
        .container
            .row
                .short-header #{webDevelopment.stack.subTitle}
                h3 #{webDevelopment.stack.title}
                .sub-header #{webDevelopment.stack.subText}
            .row.animate.wow.fadeInUp.fast
                each i in technologies.list
                    .col-3.col-md-4.col-lg-2
                        .icon
                            img(src='/img/' + i.src, alt=i.alt)
                            span #{i.alt}                                                                                                  
    section.completed-projects
        .container
            .row
                .short-header #{webDevelopment.completeProjects.subTitle}
                h3 #{webDevelopment.completeProjects.title}
                .sub-header #{webDevelopment.completeProjects.subText}
            .row.animate.wow.fadeInLeft.fast
                each item in webDevelopment.completeProjects.projects    
                    .project.col-lg-4
                            .item
                                .item__image-wrapper(style=`background-image: url("/img/${item.background}")`)
                                    h4 #{item.title}
                                    .item__review #{item.shortdescription}
                                .item__header #{item.header}
    section.contact-us                            
        .container
            .row.align-content-center
                .col-lg-12
                    .contact-us__wrapper                        
                        .contact-us__text Want to learn more about what Jsdaddy can do for you?
                        a(hreа="#" class="contact-us__link") Start project

    form#popup-form.mfp-hide.white-popup-block.popup-form
        h3 Contact Us
        .popup-form__input-wrapper
            label(for="name") Name
            input#name(name="name", type="text")
            p.popup-form__input-wrapper_invalid-message#name_error This field can not be empty
        .popup-form__input-wrapper
            label(for="email") Email
            input#email(name="email", type="email")
            p.popup-form__input-wrapper_invalid-message#email_error This field must contain valid email
        .popup-form__input-wrapper
            label(for="Textarea") Message
            textarea#message
            p.popup-form__input-wrapper_invalid-message#textarea_error This field can not be empty
        .popup-form__btn-wrapper
            button.btn#form__submit Contact Us
        .success-message
            .success-message__icon
                i.fa.fa-check(aria-hidden="true")
            span Success!                       


