//- layout.pug
html
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115295105-1")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-115295105-1');
        script.
          !function(f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function() {
              n.callMethod ?
                n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
          }(window, document, 'script',
            'https://connect.facebook.net/en_US/fbevents.js'
          );
          fbq('init', '190979394957908');
          fbq('track', 'PageView');
        title #{title}
        meta(charset='utf-8')
        meta(name='description', content='')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        if meta
            each item in meta
                meta(name= item.name, content= item.content )
        meta(property='og:image', content='path/to/image.jpg')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        link(rel='shortcut icon', href='', type='image/x-icon')
        link(rel='apple-touch-icon', href='')
        link(rel='apple-touch-icon', sizes='72x72', href='')
        link(rel='apple-touch-icon', sizes='114x114', href='')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/site.min.css')
        link(rel='icon', href='/img/favicon.ico')
    body
       if mainMenu
        header#home
            .container
                .row.content-header-wrapper
                    .logo
                        a(href='/')
                            img(src='/img/logo.png', alt='js daddy')
                    .navigation-wrapper
                        if mainMenu.content.languages
                            .lang-checker
                                ul.select
                                    each lang in mainMenu.content.languages
                                        li(class=lang.active)
                                            a(href=lang.link) #{lang.title}
                        nav.nav-main
                            ul#main-menu
                                 each menu in mainMenu.content.menu
                                     li
                                         a(href=menu.link) #{menu.title}
                        .right-header-block
                            if mainMenu.content.social
                                .social
                                    ul
                                        each item in mainMenu.content.social
                                            li
                                                a(class=item['link-class'], href=item.link)
                                                    i.fa(class=item['icon-class'])
                            if mainMenu.content.phone
                                .tel-wrapper
                                    each i in mainMenu.content.phone
                                        a(href=i.link) #{i.phone}
                            .contact-btn-wrapper
                                a.contact-btn.scroll(href=mainMenu.content.button.link) #{mainMenu.content.button.text}
                    .nav-burger
                        .line
                        .text Menu
                        .line
       block content
          if footer
            for text in footer
               footer.footer
                        //.copyright #{text.copyright}
       block
           script(src='/js/common.min.js')
           script(src='/js/main.min.js')
           script(src='/js/contacts-form.min.js')