// - layout.pug
html
    head
        script(async src="https://www.googletagmanager.com/gtag/js?id=UA-115295105-1")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag() {
            dataLayer.push(arguments);
          }
          gtag('js', new Date());
          gtag('config', 'UA-115295105-1');
        script.
          !function (f, b, e, v, n, t, s) {
            if (f.fbq) return;
            n = f.fbq = function () {
              n.callMethod ?
                  n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            };
            if (!f._fbq) f._fbq = n;
            n.push = n;
            n.loaded = !0;
            n.version = '2.0';
            n.queue = [];
            t = b.createElement(e);
            t.async = !0;
            t.src = v;
            s = b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t, s)
          }(window, document, 'script',
              'https://connect.facebook.net/en_US/fbevents.js'
          );
          fbq('init', '190979394957908');
          fbq('track', 'PageView');

        script.
            var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || 
            {widgetcode:"d3e4936b1730257df3133972dc9e6be79226f1085d1f5040bd17a721a71099e0", values:{},ready:function(){}};
            var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true;
            s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>");

        if head
            title #{head.title}
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        if head
            each meta in head.meta
                meta(name=meta.name, content= meta.content)
        meta(property='og:image', content='path/to/image.jpg')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
        meta(name="Keywords" content='JS, Web Development, Full-stack, jsdaddy, JSDADDY, Angular, TypeScript, React, Redux, NodeJS')
        link(rel='shortcut icon', href='', type='image/x-icon')
        link(rel='apple-touch-icon', href='')
        link(rel='apple-touch-icon', sizes='72x72', href='')
        link(rel='apple-touch-icon', sizes='114x114', href='')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
        link(rel='stylesheet', href='https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css')
        link(rel='stylesheet', href='/css/slick.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/public/css/slick.css')
        link(rel='stylesheet', href='/css/slick-theme.css')
        link(rel='stylesheet', href='/css/site.min.css')
        link(rel='icon', href='/img/favicon.ico')
        link(rel='stylesheet' href='/css/main.min.css')
        link(rel="stylesheet" href="/css/animate.min.css")
    body
        if headerMenu
            header
                #header.default
                    .container#header
                        .row.align-items-center.justify-content-between
                            .col-2.logo
                                a(href='/')
                                    img(src=`/img/${headerMenu.logo}`, alt="JsDaddy")
                            .nav-wrapper.col-lg-10
                                nav
                                    ul#menu-wrap
                                        li
                                            a(href='/#services' class="link-nav") #{headerMenu.nav.serv}
                                        li
                                            a(href='/#dev-process' class="link-nav") #{headerMenu.nav.dev_process}
                                        li
                                            a(href="/#technologies" class="link-nav") #{headerMenu.nav.tech}
                                        li
                                            a(href="/#testimonials" class="link-nav") #{headerMenu.nav.testimonials}
                                        li
                                            a(href="/#about-us" class="link-nav") #{headerMenu.nav.about}
                                        //- li
                                        //-     a(href="/blog" class="link-nav") #{headerMenu.nav.blog}
                                .btn-wrap
                                    a(href="#popup-form" class="btn contact_us_btn") #{headerMenu.btn}
                            .nav-burger
                                .line
                                .line-middle
                                .line
        block content
        if footerNew
            footer
                .container#footer
                    .row
                        .footer-wrapper
                            .contacts
                                .contacts__logo
                                    a(href="#")
                                        img(src="/img/" + footerNew.content.contacts.logo, alt="JsDaddy") 
                                .contacts__email 
                                    a(href="mailto:info@jsdaddy.io") 
                                        i(class="fa fa-envelope-o", aria-hidden="true") 
                                        |#{footerNew.content.contacts.info.mail}
                                //- .contacts__skype 
                                //-     a(href="skype:juncker8888") 
                                //-         i(class="fa fa-skype" aria-hidden="true")
                                //-         |#{footerNew.content.contacts.info.skype}     
                                .contacts__addres #{footerNew.content.contacts.location}
                            .navigation-footer
                                ul
                                    li
                                        a(href="/#services") #{footerNew.navigation.serv}
                                    li
                                        a(href="/#dev-process") #{footerNew.navigation.DevProc}
                                    li
                                        a(href="/#technologies") #{footerNew.navigation.techno}
                                    li
                                        a(href="/#testimonials") #{footerNew.navigation.testimonial}
                                    li 
                                        a(href="about-us") #{footerNew.navigation.about} 
                                    //- li
                                    //-     a(href="blog") #{footerNew.navigation.blog}
                            .social #{footerNew.social.text}
                                ul
                                    each item in  footerNew.social.social
                                        li 
                                            a(href=item.link, class=item['linkClass'], target="_blank")
                                                i.fa(class=item['iconClass'])                                                         
                .copy-wrapper
                    .container
                        .row
                            .col-lg-12 #{footerNew.footer.text}

        block script
            script(src='/js/main.min.js')
            script(src='/js/common.min.js')
            