// - layout.pug
doctype html
<html lang="en"> 
    head
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({
                'gtm.start':new Date().getTime(),event:'gtm.js'
                });
                var f=d.getElementsByTagName(s)[0],
                j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;
                j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-T33GBWR')
        script(async, src='/js/main.min.js')
        script(async, src="https://www.googletagmanager.com/gtag/js?id=AW-970047931")
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'AW-970047931');

        if head
            title JSDaddy - JavaScript Development Company
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=2')
        if head
            each meta in head.meta
                meta(name=meta.name, content= meta.content)
        meta(property='og:image', content='path/to/image.jpg')
        meta(name='format-detection', content='telephone=no')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=2, user-scalable=0')
        meta(name="Keywords" content='JS, Web Development, Full-stack, jsdaddy, JSDADDY, Angular, TypeScript, React, Redux, NodeJS')
        link(rel='shortcut icon', href='', type='image/x-icon')
        link(rel='apple-touch-icon', href='')
        link(rel='apple-touch-icon', sizes='72x72', href='')
        link(rel='apple-touch-icon', sizes='114x114', href='')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css', integrity='sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb', crossorigin='anonymous')
        link(rel='stylesheet', href='/css/slick.css')
        link(rel='stylesheet', href='/css/font-awesome.min.css')
        link(rel='stylesheet', href='/public/css/slick.css')
        link(rel='stylesheet', href='/css/slick-theme.css')
        link(rel='stylesheet', href='/css/site.min.css')
        link(rel='icon', href='/img/favicon.ico')
        link(rel='stylesheet' href='/css/main.min.css')
        link(rel="stylesheet" href="/css/animate.min.css")
    body
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-T33GBWR" height="0" width="0" style="display:none;visibility:hidden")
        if headerMenu
            header
                #header.default
                    .container#header_container
                        .row.align-items-center.justify-content-between
                            .col-2.logo
                                a(href='/')
                                    img(src=`/img/${headerMenu.logo}`, alt="JsDaddy")
                            .nav-wrapper.col-lg-10
                                nav
                                    ul#menu-wrap
                                        li
                                            a(href='/#services' class="link-nav") #{headerMenu.nav.serv}
                                        li
                                            a(href='/#dev-process' class="link-nav") #{headerMenu.nav.dev_process}
                                        li
                                            a(href="/#technologies" class="link-nav") #{headerMenu.nav.tech}
                                        li
                                            a(href="/#testimonials" class="link-nav") #{headerMenu.nav.testimonials}
                                        li
                                            a(href="/#about_us" class="link-nav") #{headerMenu.nav.about}
                                        //- li
                                        //-     a(href="/blog" class="link-nav") #{headerMenu.nav.blog}
                                .btn-wrap
                                    a(href="#popup-form" class="btn contact_us_btn") #{headerMenu.btn}
                                h5 Visit our
                                    a(href="https://github.com/JsDaddy" target="_blank" aria-label="github" rel="noopener")
                                        i.fa.fa-github
                            .nav-burger
                                .line
                                .line-middle
                                .line
        block content
        if footerNew
            footer
                .container#footer
                    .row
                        .footer-wrapper
                            .contacts
                                .contacts__logo
                                    a(href="#")
                                        img(src="/img/" + footerNew.content.contacts.logo, alt="JsDaddy")
                                .contacts__email
                                    a(href="mailto:info@jsdaddy.io")
                                        i(class="fa fa-envelope-o", aria-hidden="true")
                                        |#{footerNew.content.contacts.info.mail}
                                .contacts__addres #{footerNew.content.contacts.location}
                            .navigation-footer
                                ul
                                    li
                                        a(href="/#services") #{footerNew.navigation.serv}
                                    li
                                        a(href="/#dev-process") #{footerNew.navigation.DevProc}
                                    li
                                        a(href="/#technologies") #{footerNew.navigation.techno}
                                    li
                                        a(href="/#testimonials") #{footerNew.navigation.testimonial}
                                    li
                                        a(href="/#about_us") #{footerNew.navigation.about}
                            .social
                                h5 Social
                                ul
                                    each item in footerNew.social.social
                                        li
                                            a(href=item.link, class=item['linkClass'], target="_blank" aria-label="social" rel="noopener")
                                                i.fa(class=item['iconClass'])
                .copy-wrapper
                    .container
                        .row
                            .col-lg-12 #{footerNew.footer.text}
            
</html>